
* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

header {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center;   
        padding: 20px; background-color: black; }

a {text-decoration: none; color: white;}
a:hover {text-decoration: underline; color: yellow;}
        
menu a {padding: 20px;}

h1 {text-align: center; margin-top: 20px; margin-bottom: 20px;}

#galeria {display: flex; flex-wrap: wrap; max-width: 800px; margin: auto;}

div {flex: 1 1 200px; margin: 10px;}

img {max-width: 100%;}

main > p {text-align: center; margin-top: 50px;}
main > p > a {text-decoration: none; color: black;}
main > p > a:hover {text-decoration: underline; color: blue;}

@media (max-width: 650px) { main > p {margin: 20px 0;} }

@media (max-width: 600px) 
{
 header {display: block;}
 menu {margin-top: 20px; text-align: right;}
 menu a {padding: 5px;} 
 h1 {font-size: larger;}
} 

@media (max-width: 500px) { #galeria {display: block;} }

