
* {margin: 0; padding: 0; font-family: Arial, Helvetica, sans-serif;}

.grid {display: grid; grid-gap: 10px; grid-template-columns: 1fr;
        height: 100vh; margin: auto; 
        grid-template-areas: "h" "m" "sb" "crp" "crs" "f";}

header {display: grid; grid-area: h; background-color: blue; color: white;}
header h2 {justify-self: center; align-self: center; font-size: large;}
header div {display: none;}

main     {grid-area: m; background-color: aquamarine;}
.sidebar {grid-area: sb; background-color: yellow;}
.crp     {grid-area: crp; background-color: gray;}
.crs     {grid-area: crs; background-color: lightgray;}

footer   {grid-area: f; background-color: green; display: grid;}
footer div {justify-self: center; align-self: center;}
a { color: white; text-decoration: none; }
a:hover {text-decoration: underline;}

@media (max-width: 550px) {
  header > h2 {display: none;}
  header div {display: block; text-align: center; align-self: center; 
              line-height: 1.5em; font-size: large; font-weight: bold;}
  /* 
    o "justify-self: center;" não funciona com "header div", mas funciona com "header h2"
  */
}   
@media (min-width: 501px) {
  .grid {grid-template-columns: 1fr repeat(4, minmax(auto, 200px)) 1fr;
         grid-template-rows: .5fr 2fr .5fr .5fr;
         grid-template-areas: "h h   h   h   h   h" 
                              ". m   m   m   sb  ." 
                              ". crp crp crs crs ." 
                              "f f   f   f   f   f";}
}
